@*
    <meta content="width=device-width" name="viewport">

    <div>
        @RenderBody()
    </div>*@

@using PizzaBotManager.Models
@model PizzaBotManager.Models.BaseModel

<!DOCTYPE html>

<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@Model.ApplicationName - @Model.PageTitle</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="~/lib/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/lib/animate.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/lib/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">




    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Logo Section -->
    <section id="logo-section" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo text-center">
                        <h1>Pizza Manager</h1>
                        <span>... from the road to the your table</span>
                        <p>
                            @RenderBody()

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Logo Section -->
    <!-- Start Main Body Section -->
    <div class="mainbody-section text-center">
        <div class="container">
            <div class="row">

                <div class="col-sm-4">

                    <div class="menu-item blue">
                        <a href="#feature-modal" data-toggle="modal">
                            <i class="fa fa-magic"></i>
                            <p>Feature</p>

                        </a>
                        @{
                          
                            @if (!Model.WebJobButtonClicked)
                            {
                                @await Component.InvokeAsync("Inbox", Model);
                                /**/
                            }
                            else
                            {
                                //var makeMeInboxModel = (InboxModel)Model;
                                @await Component.InvokeAsync("Inbox", Model);
                              
                            }
                        }

                     
                    </div>


                </div>

                <div class="col-sm-4">

                    <div class="menu-item green">
                        <a href="#portfolio-modal" data-toggle="modal">
                            <i class="fa fa-file-photo-o"></i>
                            <p>Portfolio</p>

                        </a>
                        @await Component.InvokeAsync("Conversation")
                    </div>
                </div>


                <div class="col-sm-4">

                    <div class="menu-item light-red">
                        <a href="#contact-modal" data-toggle="modal">
                            <i class="fa fa-envelope-o"></i>
                            <p>Contact</p>

                        </a>
                        @await Component.InvokeAsync("StoresOvens")
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- End Main Body Section -->
    <!-- Start Copyright Section -->
    <div class="copyright text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>Design &amp; Developed by <a href="https://www.facebook.com/Shahriyar.Ahmed.Sohel" target="_blank">Shahriyar Ahmed</a> for <a href="http://graygrids.com">GrayGrids</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Section -->
    <!-- Template js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery.appear.js/jquery.appear.js"></script>
    @*<script src="js/contact_me.js"></script>*@
    @*<script src="js/jqBootstrapValidation.js"></script>*@
    <script src="~/lib/modernizr.customII.js"></script>
    <script src="~/lib/script.js"></script>
    <!--End of Tempalte js-->
    <!--React js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/lib/ReactJs/PizzaBotManager.jsx")"></script>
    @*@Html.ReactInitJavaScript()*@
    @RenderSection("reactScript", false)

    <!--End of React js-->
</body>
</html>